Repository STICORP/tributum-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-check, lint-check, complexity-check, bandit-check, safety-check, pip-audit, semgrep-check, pydoclint-check, pylint-check

format-check:
  name: ruff format check
  entry: make format-check
  language: system
  pass_filenames: false

lint-check:
  name: ruff lint check
  entry: make lint
  language: system
  pass_filenames: false

complexity-check:
  name: mccabe complexity check
  entry: make complexity-check
  language: system
  pass_filenames: false

bandit-check:
  name: bandit security scan
  entry: make security-bandit
  language: system
  pass_filenames: false

safety-check:
  name: safety check
  entry: make security-safety
  language: system
  pass_filenames: false

pip-audit:
  name: pip audit
  entry: make security-pip-audit
  language: system
  pass_filenames: false

semgrep-check:
  name: semgrep static analysis
  entry: make security-semgrep
  language: system
  pass_filenames: false

pydoclint-check:
  name: pydoclint docstring quality
  entry: make docstring-quality
  language: system
  pass_filenames: false

pylint-check:
  name: pylint (shadowing check)
  entry: make pylint-check
  language: system
  pass_filenames: false

test(conftest): add comprehensive test fixtures for observability module
  tests/unit/conftest.py
Due: format-check, lint-check, complexity-check, bandit-check

test: add comprehensive unit tests for observability module
  tests/unit/core/test_observability.py
Due: format-check, lint-check, complexity-check, bandit-check

test(core): add comprehensive unit tests for types module
  tests/unit/core/test_types.py
Due: format-check, lint-check, complexity-check, bandit-check

test(api): add comprehensive unit tests for main module
  tests/unit/api/__init__.py
  tests/unit/api/conftest.py
  tests/unit/api/test_main.py
  tests/unit/conftest.py
Due: format-check, lint-check, complexity-check, bandit-check

test(api): add comprehensive unit tests for error handler middleware
  tests/unit/api/middleware/__init__.py
  tests/unit/api/middleware/conftest.py
  tests/unit/api/middleware/test_error_handler.py
Due: format-check, lint-check, complexity-check, bandit-check

test(api): add comprehensive unit tests for request context middleware
  tests/unit/api/middleware/conftest.py
  tests/unit/api/middleware/test_request_context.py
Due: format-check, lint-check, complexity-check, bandit-check

fix(api): improve request logging middleware robustness
  CHANGELOG.md
  src/api/middleware/request_logging.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

test(api): add comprehensive unit tests for request logging middleware
  CHANGELOG.md
  tests/unit/api/middleware/conftest.py
  tests/unit/api/middleware/test_request_logging.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

test(api): add comprehensive unit tests for security headers middleware
  tests/unit/api/middleware/test_security_headers.py
Due: format-check, lint-check, complexity-check, bandit-check

test(api): add comprehensive unit tests for error response schemas
  tests/unit/api/schemas/__init__.py
  tests/unit/api/schemas/test_errors.py
Due: format-check, lint-check, complexity-check, bandit-check

test(api): add comprehensive unit tests for ORJSONResponse
  tests/unit/api/utils/__init__.py
  tests/unit/api/utils/conftest.py
  tests/unit/api/utils/test_responses.py
Due: format-check, lint-check, complexity-check, bandit-check

test(infrastructure): add comprehensive unit tests for database base module
  tests/unit/infrastructure/__init__.py
  tests/unit/infrastructure/database/__init__.py
  tests/unit/infrastructure/database/conftest.py
  tests/unit/infrastructure/database/test_base.py
Due: format-check, lint-check, complexity-check, bandit-check

refactor(infrastructure): improve thread safety in database manager singleton
  src/infrastructure/database/session.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

test(infrastructure): add comprehensive test fixtures for database session tests
  tests/unit/infrastructure/database/conftest.py
Due: format-check, lint-check, complexity-check, bandit-check

test(infrastructure): add comprehensive unit tests for database session module
  tests/unit/infrastructure/database/test_session.py
Due: format-check, lint-check, complexity-check, bandit-check

test(infrastructure): add comprehensive unit tests for database dependencies
  tests/unit/infrastructure/database/conftest.py
  tests/unit/infrastructure/database/test_dependencies.py
Due: format-check, lint-check, complexity-check, bandit-check

test(infrastructure): add repository test fixtures to conftest
  tests/unit/infrastructure/database/conftest.py
Due: format-check, lint-check, complexity-check, bandit-check

test(infrastructure): add comprehensive unit tests for BaseRepository
  tests/unit/infrastructure/database/test_repository.py
Due: format-check, lint-check, complexity-check, bandit-check

chore(specs): remove obsolete unit test specification documents
  .specs/testing-reqs/core-config-py-unit-tests.md
  .specs/testing-reqs/core-context-py-unit-tests.md
  .specs/testing-reqs/main-py-unit-tests.md
Due: semgrep-check, pydoclint-check, pylint-check

docs(commands): enhance test implementation command documentation
  .claude/commands/t1-do-implementation.md
  .claude/commands/t1-fix-implementation.md
  .claude/commands/t1-what-to-test.md
Due: semgrep-check, pydoclint-check, pylint-check

test(core): refactor config tests with parametrize and improve logging coverage
  src/core/config.py
  tests/unit/core/test_config.py
  tests/unit/core/test_logging.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

feat(database): enhance query monitoring with rows affected logging
  src/infrastructure/database/session.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

feat(api): add database pool metrics to health endpoint
  src/api/main.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

test: enhance database and API test coverage
  tests/unit/api/test_main.py
  tests/unit/infrastructure/database/conftest.py
  tests/unit/infrastructure/database/test_session.py
Due: format-check, lint-check, complexity-check, bandit-check

chore(deps): update project dependencies
  uv.lock
Due: safety-check, pip-audit, semgrep-check, pydoclint-check, pylint-check

feat(logging): add sensitive field redaction to protect credentials
  CHANGELOG.md
  src/core/logging.py
  tests/unit/core/test_logging.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

feat(observability): add automatic HTTP client instrumentation
  CHANGELOG.md
  src/core/observability.py
  tests/unit/core/test_observability.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

docs(patterns): add code and unit test pattern documentation
  .specs/patterns/code_patterns.md
  .specs/patterns/test_unit_patterns.md
  CHANGELOG.md
Due: semgrep-check, pydoclint-check, pylint-check

refactor(commands): restructure /do command for systematic task execution
  .claude/commands/do.md
Due: semgrep-check, pydoclint-check, pylint-check

feat(commands): add /do-find-patterns command for pattern discovery
  .claude/commands/do-find-patterns.md
Due: semgrep-check, pydoclint-check, pylint-check

feat(commands): add /do-new command variant using pattern documentation
  .claude/commands/do-new.md
Due: semgrep-check, pydoclint-check, pylint-check

chore(specs): remove outdated analysis and anti-pattern documentation
  .specs/analysis/DATABASE_OBSERVABILITY_ANALYSIS.md
  .specs/analysis/ERROR_HANDLING_ANALYSIS.md
  .specs/analysis/OBSERVABILITY_ANALYSIS.md
  .specs/analysis/OBSERVABILITY_CODE_REVIEW.md
  .specs/anti_patterns/integration.md
  .specs/anti_patterns/unit.md
Due: semgrep-check, pydoclint-check, pylint-check

docs(readme): enhance project documentation with pattern references and improved feature descriptions
  README.md
Due: semgrep-check, pydoclint-check, pylint-check

docs: prepare CHANGELOG for v0.4.0 release
  CHANGELOG.md
Due: semgrep-check, pydoclint-check, pylint-check

chore: bump version from 0.3.0 to 0.4.0
  VERSION
  pyproject.toml
  src/core/config.py
  uv.lock
Due: format-check, lint-check, complexity-check, bandit-check, safety-check, pip-audit, semgrep-check, pydoclint-check, pylint-check

fix(test): make version test check format instead of hardcoded value
  CHANGELOG.md
  tests/unit/core/test_config.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

fix(database): resolve thread safety issue in session factory initialization
  CHANGELOG.md
  src/infrastructure/database/session.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

build(test): add comprehensive Makefile targets for unit and integration test separation
  CHANGELOG.md
  Makefile
Due: semgrep-check, pydoclint-check, pylint-check

ci(test): split unit and integration tests into separate jobs
  .github/workflows/checks.yml
  CHANGELOG.md
Due: semgrep-check, pydoclint-check, pylint-check

chore(config): simplify security rule configuration for integration tests
  CHANGELOG.md
  pyproject.toml
Due: safety-check, pip-audit, semgrep-check, pydoclint-check, pylint-check

Path conditions:
  format-check: any of: \.py$
  lint-check: any of: \.py$
  complexity-check: any of: \.py$
  bandit-check: any of: \.py$
  safety-check: any of: ^(pyproject\.toml|uv\.lock)$
  pip-audit: any of: ^(pyproject\.toml|uv\.lock)$
  semgrep-check: any file but: ^tests/
  pydoclint-check: any file but: ^(tests/|htmlcov/)
  pylint-check: any file but: ^tests/
