Repository STICORP/tributum-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-check, lint-check, complexity-check, bandit-check, safety-check, pip-audit, semgrep-check, pydoclint-check, pylint-check

format-check:
  name: ruff format check
  entry: make format-check
  language: system
  pass_filenames: false

lint-check:
  name: ruff lint check
  entry: make lint
  language: system
  pass_filenames: false

complexity-check:
  name: mccabe complexity check
  entry: make complexity-check
  language: system
  pass_filenames: false

bandit-check:
  name: bandit security scan
  entry: make security-bandit
  language: system
  pass_filenames: false

safety-check:
  name: safety check
  entry: make security-safety
  language: system
  pass_filenames: false

pip-audit:
  name: pip audit
  entry: make security-pip-audit
  language: system
  pass_filenames: false

semgrep-check:
  name: semgrep static analysis
  entry: make security-semgrep
  language: system
  pass_filenames: false

pydoclint-check:
  name: pydoclint docstring quality
  entry: make docstring-quality
  language: system
  pass_filenames: false

pylint-check:
  name: pylint (shadowing check)
  entry: make pylint-check
  language: system
  pass_filenames: false

feat(logging): implement enhanced context management system
  .specs/logs-enhancement/01-foundation-configuration.md
  src/core/logging.py
  tests/unit/core/test_logging.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

docs: update changelog for enhanced context management
  CHANGELOG.md
Due: semgrep-check, pydoclint-check, pylint-check

refactor(core): centralize constants in dedicated module
  src/api/middleware/request_logging.py
  src/api/middleware/security_headers.py
  src/core/constants.py
  src/core/error_context.py
  src/core/logging.py
  src/infrastructure/database/repository.py
  src/infrastructure/database/session.py
  tests/unit/api/middleware/test_request_logging.py
  tests/unit/core/test_error_context.py
  tests/unit/core/test_logging.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

docs: update changelog for constants centralization refactor
  CHANGELOG.md
Due: semgrep-check, pydoclint-check, pylint-check

refactor(tests): reorganize test files into modular structure
  tests/integration/api/error_handling/__init__.py
  tests/integration/api/error_handling/conftest.py
  tests/integration/api/error_handling/test_error_handler_type_errors.py
  tests/integration/api/error_handling/test_error_response_format.py
  tests/integration/api/error_handling/test_generic_exceptions.py
  tests/integration/api/error_handling/test_http_exceptions.py
  tests/integration/api/error_handling/test_tributum_errors.py
  tests/integration/api/error_handling/test_validation_errors.py
  tests/integration/api/test_error_handling.py
  tests/unit/api/middleware/request_logging/__init__.py
  tests/unit/api/middleware/request_logging/conftest.py
  tests/unit/api/middleware/request_logging/test_basic_logging.py
  tests/unit/api/middleware/request_logging/test_middleware_configuration.py
  tests/unit/api/middleware/request_logging/test_request_body_logging.py
  tests/unit/api/middleware/request_logging/test_response_body_logging.py
  tests/unit/api/middleware/test_request_logging.py
  tests/unit/core/logging/__init__.py
  tests/unit/core/logging/test_configuration.py
  tests/unit/core/logging/test_context_binding.py
  tests/unit/core/logging/test_context_managers.py
  tests/unit/core/logging/test_enhanced_context.py
  tests/unit/core/logging/test_exception_logging.py
  tests/unit/core/logging/test_logger_factory.py
  tests/unit/core/logging/test_orjson_renderer.py
  tests/unit/core/logging/test_processors.py
  tests/unit/core/test_logging.py
  tests/unit/infrastructure/database/repository/__init__.py
  tests/unit/infrastructure/database/repository/conftest.py
  tests/unit/infrastructure/database/repository/test_repository_crud.py
  tests/unit/infrastructure/database/repository/test_repository_queries.py
Due: format-check, lint-check, complexity-check, bandit-check

docs: update changelog for test reorganization refactor
  CHANGELOG.md
Due: semgrep-check, pydoclint-check, pylint-check

docs: improve start command formatting for parallel execution
  .claude/commands/start.md
Due: semgrep-check, pydoclint-check, pylint-check

refactor(tests): split large config test file into focused modules
  tests/unit/core/config/__init__.py
  tests/unit/core/config/test_database_config.py
  tests/unit/core/config/test_get_settings.py
  tests/unit/core/config/test_log_config.py
  tests/unit/core/config/test_observability_config.py
  tests/unit/core/config/test_settings.py
  tests/unit/core/config/test_settings_env_overrides.py
  tests/unit/core/test_config.py
Due: format-check, lint-check, complexity-check, bandit-check

docs: update changelog for config test refactoring
  CHANGELOG.md
Due: semgrep-check, pydoclint-check, pylint-check

docs: update logging specs to reflect test file reorganization
  .specs/logs-enhancement/01-foundation-configuration.md
  .specs/logs-enhancement/02-performance-monitoring.md
Due: semgrep-check, pydoclint-check, pylint-check

refactor(constants): split constants into layer-specific modules
  src/api/constants.py
  src/api/middleware/error_handler.py
  src/api/middleware/request_logging.py
  src/api/middleware/security_headers.py
  src/core/constants.py
  src/core/error_context.py
  src/infrastructure/constants.py
  src/infrastructure/database/repository.py
  src/infrastructure/database/session.py
  tests/unit/api/middleware/request_logging/conftest.py
  tests/unit/api/middleware/request_logging/test_middleware_configuration.py
  tests/unit/core/test_error_context.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

docs: update changelog for constants refactoring
  CHANGELOG.md
Due: semgrep-check, pydoclint-check, pylint-check

chore(commands): refine tasks-project-analysis command
  .claude/commands/tasks-project-analysis.md
Due: semgrep-check, pydoclint-check, pylint-check

docs(readme): update documentation with recent project enhancements
  README.md
Due: semgrep-check, pydoclint-check, pylint-check

feat(logging): implement enhanced logging processors for metrics and context
  pyproject.toml
  src/core/constants.py
  src/core/logging.py
  uv.lock
Due: format-check, lint-check, complexity-check, bandit-check, safety-check, pip-audit, semgrep-check, pydoclint-check, pylint-check

docs: update changelog for enhanced logging processors
  CHANGELOG.md
Due: semgrep-check, pydoclint-check, pylint-check

test(logging): add comprehensive tests for logging processors
  tests/unit/core/logging/test_processors.py
Due: format-check, lint-check, complexity-check, bandit-check

docs(specs): update Task 1.3 status to completed in logs enhancement spec
  .specs/logs-enhancement/01-foundation-configuration.md
Due: semgrep-check, pydoclint-check, pylint-check

chore(commands): enhance check-implementation validation requirements
  .claude/commands/check-implementation.md
Due: semgrep-check, pydoclint-check, pylint-check

chore(makefile): enhance clean command with comprehensive artifact removal
  Makefile
Due: semgrep-check, pydoclint-check, pylint-check

feat(commands): add deterministic check-implementation command
  .claude/commands/check-implementation-new.md
Due: semgrep-check, pydoclint-check, pylint-check

docs: update changelog for deterministic check-implementation command
  CHANGELOG.md
Due: semgrep-check, pydoclint-check, pylint-check

docs: enhance environment configuration documentation and validation
  .claude/commands/check-implementation-new.md
  .claude/commands/check-implementation.md
  .claude/commands/start.md
  .claude/commands/tasks-project-analysis.md
  .env.example
Due: semgrep-check, pydoclint-check, pylint-check

docs: update changelog for environment configuration enhancement
  CHANGELOG.md
Due: semgrep-check, pydoclint-check, pylint-check

docs(commands): consolidate changelog updates into main commits
  .claude/commands/create-commit.md
Due: semgrep-check, pydoclint-check, pylint-check

chore: remove CLAUDE.md AI guidance documentation
  CLAUDE.md
Due: semgrep-check, pydoclint-check, pylint-check

docs: create comprehensive CLAUDE.md development guide
  CHANGELOG.md
  CLAUDE.md
Due: semgrep-check, pydoclint-check, pylint-check

feat(logging): enable processor selection via configuration
  CHANGELOG.md
  src/api/main.py
  src/api/middleware/request_logging.py
  src/core/logging.py
  tests/unit/api/middleware/request_logging/conftest.py
  tests/unit/api/middleware/request_logging/test_basic_logging.py
  tests/unit/api/middleware/request_logging/test_middleware_configuration.py
  tests/unit/api/middleware/request_logging/test_request_body_logging.py
  tests/unit/api/middleware/request_logging/test_response_body_logging.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

docs(specs): update logging enhancement spec
  .specs/logs-enhancement/01-foundation-configuration.md
Due: semgrep-check, pydoclint-check, pylint-check

docs(commands): remove redundant CLAUDE.md references
  .claude/commands/investigate-deps.md
  .claude/commands/start.md
Due: semgrep-check, pydoclint-check, pylint-check

fix(config): correct JSON array syntax in .env.example
  .env.example
Due: semgrep-check, pydoclint-check, pylint-check

feat(logging): add automatic structlog configuration
  CHANGELOG.md
  src/core/logging.py
  tests/unit/core/logging/test_logger_factory.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

docs(claude): add directive to ignore outdated markdown files
  CLAUDE.md
Due: semgrep-check, pydoclint-check, pylint-check

test(logging): add test for performance processor configuration
  pyproject.toml
  tests/unit/core/logging/test_configuration.py
Due: format-check, lint-check, complexity-check, bandit-check, safety-check, pip-audit, semgrep-check, pydoclint-check, pylint-check

feat(logging): add performance monitoring for HTTP requests
  .env.example
  CHANGELOG.md
  src/api/middleware/request_logging.py
  src/core/config.py
  src/core/types.py
  tests/unit/api/middleware/request_logging/test_performance_metrics.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

docs(specs): mark performance monitoring task 2.1 as completed
  .specs/logs-enhancement/02-performance-monitoring.md
Due: semgrep-check, pydoclint-check, pylint-check

feat(logging): add granular performance metrics configuration
  .env.example
  CHANGELOG.md
  src/api/middleware/request_logging.py
  src/core/config.py
  tests/unit/api/middleware/request_logging/test_performance_metrics_config.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

chore(claude): enhance implementation check with configuration validation
  .claude/commands/check-implementation-new.md
  .claude/commands/check-implementation.md
Due: semgrep-check, pydoclint-check, pylint-check

refactor(constants): reorganize constants to appropriate architectural layers
  CHANGELOG.md
  src/api/constants.py
  src/api/middleware/request_context.py
  src/core/context.py
  src/infrastructure/constants.py
  src/infrastructure/database/base.py
  tests/integration/api/test_middleware_integration.py
  tests/integration/api/test_tracing.py
  tests/integration/test_full_stack.py
  tests/unit/api/middleware/request_logging/test_basic_logging.py
  tests/unit/api/middleware/test_request_context.py
  tests/unit/api/test_constants.py
  tests/unit/core/test_context.py
  tests/unit/infrastructure/database/test_base.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

fix(logging): resolve duplicate timestamp issue in log output
  CHANGELOG.md
  src/core/logging.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

Path conditions:
  format-check: any of: \.py$
  lint-check: any of: \.py$
  complexity-check: any of: \.py$
  bandit-check: any of: \.py$
  safety-check: any of: ^(pyproject\.toml|uv\.lock)$
  pip-audit: any of: ^(pyproject\.toml|uv\.lock)$
  semgrep-check: any file but: ^tests/
  pydoclint-check: any file but: ^(tests/|htmlcov/)
  pylint-check: any file but: ^tests/
