Repository STICORP/tributum-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-check, lint-check, complexity-check, bandit-check, safety-check, pip-audit, semgrep-check, pydoclint-check, pylint-check

Path conditions:
  format-check: any of: \.py$
  lint-check: any of: \.py$
  complexity-check: any of: \.py$
  bandit-check: any of: \.py$
  safety-check: any of: ^(pyproject\.toml|uv\.lock)$
  pip-audit: any of: ^(pyproject\.toml|uv\.lock)$
  semgrep-check: any file but: ^tests/
  pydoclint-check: any file but: ^(tests/|htmlcov/)
  pylint-check: any file but: ^tests/

feat(observability): implement database query performance tracking
  .specs/logs-enhancement/02-performance-monitoring.md
  CHANGELOG.md
  src/api/middleware/request_logging.py
  src/infrastructure/database/dependencies.py
  src/infrastructure/database/session.py
  tests/integration/test_database_query_tracking.py
  tests/unit/api/middleware/request_logging/test_basic_logging.py
  tests/unit/api/middleware/request_logging/test_performance_metrics.py
  tests/unit/infrastructure/database/test_dependencies.py
  tests/unit/infrastructure/database/test_session.py
  vulture_whitelist.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

refactor(observability): improve separation of concerns and testability
  CHANGELOG.md
  src/api/main.py
  src/core/observability.py
  src/infrastructure/database/session.py
  tests/integration/api/test_lifecycle.py
  tests/integration/api/test_tracing.py
  tests/integration/test_api.py
  tests/integration/test_full_stack.py
  tests/unit/infrastructure/database/test_session.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

feat(observability): implement OpenTelemetry metrics with GCP Cloud Monitoring
  .env.example
  .specs/logs-enhancement/02-performance-monitoring.md
  CHANGELOG.md
  pyproject.toml
  src/api/main.py
  src/api/middleware/error_handler.py
  src/api/middleware/request_logging.py
  src/core/config.py
  src/core/observability.py
  tests/integration/api/test_main_coverage.py
  tests/integration/api/test_main_simple_coverage.py
  tests/integration/api/test_metrics_collection.py
  tests/integration/api/test_system_metrics_task.py
  tests/unit/api/middleware/request_logging/test_metrics_recording.py
  tests/unit/api/middleware/test_error_handler.py
  tests/unit/core/test_observability.py
  tests/unit/infrastructure/database/test_session.py
  uv.lock
Due: format-check, lint-check, complexity-check, bandit-check, safety-check, pip-audit, semgrep-check, pydoclint-check, pylint-check

chore(claude): refactor and enhance AI assistant custom commands
  .claude/commands/check-git.md
  .claude/commands/do.md
  .claude/commands/git-backup.md
  .claude/commands/git-understand.md
Due: semgrep-check, pydoclint-check, pylint-check

build(ruff): enhance auto-fix capabilities and formatting options
  Makefile
  pyproject.toml
Due: safety-check, pip-audit, semgrep-check, pydoclint-check, pylint-check

docs(claude): enhance /do command with structured planning requirements
  .claude/commands/do.md
Due: semgrep-check, pydoclint-check, pylint-check

feat(observability): implement advanced OpenTelemetry trace sampling and span enrichment
  .specs/logs-enhancement/02-performance-monitoring.md
  CHANGELOG.md
  src/core/context.py
  src/core/observability.py
  tests/integration/api/test_tracing.py
  tests/unit/core/test_observability.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

fix(observability): correct database pool metrics for AsyncAdaptedQueuePool types
  CHANGELOG.md
  src/core/observability.py
  tests/unit/core/test_observability.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

docs(specs): add constants refactoring specification
  .specs/constants-refactor.md
Due: semgrep-check, pydoclint-check, pylint-check

ci(formatting): switch from format checking to auto-formatting in CI/CD
  .github/workflows/checks.yml
  .pre-commit-config.yaml
  CHANGELOG.md
Due: semgrep-check, pydoclint-check, pylint-check

ci(makefile): align local checks with CI/CD auto-formatting behavior
  CHANGELOG.md
  Makefile
Due: semgrep-check, pydoclint-check, pylint-check

refactor(constants): remove unused constants from codebase
  CHANGELOG.md
  src/api/constants.py
  src/core/constants.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

feat(logging): implement enhanced sensitive data detection with value-based scanning
  .env.example
  .specs/logs-enhancement/03-security-data-filtering.md
  CHANGELOG.md
  src/core/config.py
  src/core/error_context.py
  tests/unit/api/middleware/request_logging/test_request_body_logging.py
  tests/unit/api/middleware/request_logging/test_response_body_logging.py
  tests/unit/core/config/test_log_config.py
  tests/unit/core/test_error_context.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

feat(logging): implement configurable sanitization strategies for sensitive data
  .env.example
  .specs/logs-enhancement/03-security-data-filtering.md
  CHANGELOG.md
  src/core/config.py
  src/core/error_context.py
  tests/unit/api/middleware/request_logging/test_request_body_logging.py
  tests/unit/api/middleware/request_logging/test_response_body_logging.py
  tests/unit/core/test_error_context.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

docs(specs): replace complex observability specs with simplified approach
  .specs/constants-refactor.md
  .specs/logs-enhancement/01-foundation-configuration.md
  .specs/logs-enhancement/02-performance-monitoring.md
  .specs/logs-enhancement/03-security-data-filtering.md
  .specs/logs-enhancement/04-scalability-async.md
  .specs/logs-enhancement/05-external-integrations.md
  .specs/logs-enhancement/06-advanced-features.md
  .specs/simplification.md
  .specs/simplification/README.md
  .specs/simplification/phase-0-cleanup-preparation.md
  .specs/simplification/phase-1-core-logging-loguru.md
  .specs/simplification/phase-2-request-context-middleware.md
  .specs/simplification/phase-3-cloud-agnostic-formatters.md
  .specs/simplification/phase-4-simplified-error-context.md
  .specs/simplification/phase-5-native-opentelemetry.md
  .specs/simplification/phase-6-configuration-integration.md
Due: semgrep-check, pydoclint-check, pylint-check

refactor(logging): migrate from standard logging to Loguru
  .env.example
  CHANGELOG.md
  main.py
  pyproject.toml
  src/api/main.py
  src/api/middleware/error_handler.py
  src/core/config.py
  src/core/logging.py
  src/infrastructure/database/dependencies.py
  src/infrastructure/database/repository.py
  src/infrastructure/database/session.py
  tests/conftest.py
  tests/fixtures/test_database_fixtures.py
  tests/fixtures/test_env_fixtures.py
  tests/integration/api/test_system_metrics_task.py
  tests/unit/core/config/test_settings.py
  tests/unit/core/test_logging_basic.py
  tests/unit/infrastructure/database/test_session.py
  uv.lock
Due: format-check, lint-check, complexity-check, bandit-check, safety-check, pip-audit, semgrep-check, pydoclint-check, pylint-check

feat(middleware): implement request logging with performance tracking
  CHANGELOG.md
  src/api/constants.py
  src/api/main.py
  src/api/middleware/request_context.py
  src/api/middleware/request_logging.py
  src/core/logging.py
  tests/integration/api/test_middleware_integration.py
  tests/integration/api/test_request_logging_integration.py
  tests/integration/api/test_system_metrics_task.py
  tests/unit/api/middleware/test_request_context.py
  tests/unit/api/middleware/test_request_logging.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

feat(logging): implement pluggable log formatters with environment auto-detection
  .env.example
  CHANGELOG.md
  src/core/config.py
  src/core/logging.py
  tests/unit/core/config/test_settings.py
  tests/unit/core/test_log_formatters.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

feat(security): add error context sanitization module
  CHANGELOG.md
  src/core/constants.py
  src/core/error_context.py
  tests/unit/core/test_constants.py
  tests/unit/core/test_error_context.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

refactor(middleware): integrate error context sanitization
  src/api/middleware/error_handler.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

test: add pytest marker enforcement and consolidate logging tests
  tests/conftest.py
  tests/unit/api/middleware/test_request_logging.py
  tests/unit/core/test_log_formatters.py
  tests/unit/core/test_logging.py
Due: format-check, lint-check, complexity-check, bandit-check

test(logging): refactor frame mocking to use pytest monkeypatch
  tests/unit/core/test_logging.py
Due: format-check, lint-check, complexity-check, bandit-check

test: enforce pytest-mock usage and improve repository test mocking
  tests/conftest.py
  tests/unit/infrastructure/database/repository/conftest.py
  tests/unit/infrastructure/database/repository/test_repository_crud.py
  tests/unit/infrastructure/database/repository/test_repository_queries.py
Due: format-check, lint-check, complexity-check, bandit-check

test(logging): improve test coverage and mocking practices
  tests/unit/core/test_log_formatters.py
  tests/unit/core/test_logging.py
Due: format-check, lint-check, complexity-check, bandit-check

test: extract test validation checks to dedicated scripts
  .github/workflows/checks.yml
  .pre-commit-config.yaml
  Makefile
  scripts/check-mock-imports.py
  scripts/check-test-markers.py
  tests/conftest.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

fix(build): prevent safety scan from blocking on authentication prompt
  Makefile
Due: semgrep-check, pydoclint-check, pylint-check

docs(claude): restructure CLAUDE.md with essential development guidance
  CHANGELOG.md
  CLAUDE.md
Due: semgrep-check, pydoclint-check, pylint-check

chore(ci): remove mock-check and markers-check from CI and pre-commit
  .github/workflows/checks.yml
  .pre-commit-config.yaml
Due: semgrep-check, pydoclint-check, pylint-check

feat(observability): implement cloud-agnostic distributed tracing with OpenTelemetry
  .env.example
  CHANGELOG.md
  pyproject.toml
  src/api/main.py
  src/core/config.py
  src/core/observability.py
  stubs/opentelemetry/__init__.pyi
  stubs/opentelemetry/exporter/otlp/proto/grpc/trace_exporter/__init__.pyi
  stubs/opentelemetry/instrumentation/fastapi/__init__.pyi
  stubs/opentelemetry/instrumentation/sqlalchemy/__init__.pyi
  stubs/opentelemetry/sdk/__init__.pyi
  stubs/opentelemetry/sdk/resources/__init__.pyi
  stubs/opentelemetry/sdk/trace/__init__.pyi
  stubs/opentelemetry/sdk/trace/export/__init__.pyi
  stubs/opentelemetry/sdk/trace/sampling/__init__.pyi
  stubs/opentelemetry/trace/__init__.pyi
  tests/unit/core/config/test_settings.py
  tests/unit/core/test_observability.py
  uv.lock
Due: format-check, lint-check, complexity-check, bandit-check, safety-check, pip-audit, semgrep-check, pydoclint-check, pylint-check

test(observability): replace unittest.mock with pytest-mock for type safety
  tests/unit/core/test_observability.py
Due: format-check, lint-check, complexity-check, bandit-check

feat(config): simplify observability configuration with intelligent auto-detection
  .env.example
  CHANGELOG.md
  src/core/config.py
  tests/unit/core/config/test_auto_detection.py
  tests/unit/core/config/test_settings.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

feat(error-context): enhance error context with configurable sensitive field detection
  src/core/error_context.py
  src/infrastructure/database/session.py
  tests/unit/core/test_error_context.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

test(observability): add comprehensive integration tests for observability stack
  tests/integration/test_observability_integration.py
Due: format-check, lint-check, complexity-check, bandit-check

refactor(config): remove unused configuration options and deferred test
  CHANGELOG.md
  pyproject.toml
  src/core/config.py
  tests/integration/api/error_handling/test_error_response_format.py
  tests/unit/core/config/test_auto_detection.py
Due: format-check, lint-check, complexity-check, bandit-check, safety-check, pip-audit, semgrep-check, pydoclint-check, pylint-check

fix(test): prevent JSON logs from bypassing pytest output capturing
  CHANGELOG.md
  pyproject.toml
Due: safety-check, pip-audit, semgrep-check, pydoclint-check, pylint-check

refactor(logging): remove unused should_log_path function
  src/core/logging.py
  tests/unit/core/test_logging.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

chore: remove obsolete simplification specification documents
  .specs/simplification.md
  .specs/simplification/README.md
  .specs/simplification/phase-0-cleanup-preparation.md
  .specs/simplification/phase-1-core-logging-loguru.md
  .specs/simplification/phase-2-request-context-middleware.md
  .specs/simplification/phase-3-cloud-agnostic-formatters.md
  .specs/simplification/phase-4-simplified-error-context.md
  .specs/simplification/phase-5-native-opentelemetry.md
  .specs/simplification/phase-6-configuration-integration.md
Due: semgrep-check, pydoclint-check, pylint-check

refactor: clean up obsolete observability phase comments
  src/api/middleware/error_handler.py
  src/core/exceptions.py
  src/infrastructure/database/session.py
  tests/integration/api/test_system_metrics_task.py
  tests/unit/core/config/test_settings.py
  tests/unit/core/config/test_settings_env_overrides.py
  tests/unit/infrastructure/database/test_session.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

docs(commands): enhance do command with clearer planning strategies
  .claude/commands/do.md
Due: semgrep-check, pydoclint-check, pylint-check
