Repository STICORP/tributum-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-check, lint-check, complexity-check, bandit-check, safety-check, pip-audit, semgrep-check, pydoclint-check, pylint-check

format-check:
  name: ruff format check
  entry: make format-check
  language: system
  pass_filenames: false

lint-check:
  name: ruff lint check
  entry: make lint
  language: system
  pass_filenames: false

complexity-check:
  name: mccabe complexity check
  entry: make complexity-check
  language: system
  pass_filenames: false

bandit-check:
  name: bandit security scan
  entry: make security-bandit
  language: system
  pass_filenames: false

safety-check:
  name: safety check
  entry: make security-safety
  language: system
  pass_filenames: false

pip-audit:
  name: pip audit
  entry: make security-pip-audit
  language: system
  pass_filenames: false

semgrep-check:
  name: semgrep static analysis
  entry: make security-semgrep
  language: system
  pass_filenames: false

pydoclint-check:
  name: pydoclint docstring quality
  entry: make docstring-quality
  language: system
  pass_filenames: false

pylint-check:
  name: pylint (shadowing check)
  entry: make pylint-check
  language: system
  pass_filenames: false

feat(commands): add comprehensive validation and testing command workflows
  .claude/commands/fix-unittest-mocks.md
  .claude/commands/qa-tests-missing-integration.md
  .claude/commands/validate-deps-git.md
  .claude/commands/validate-quality-git.md
  .claude/commands/validate-tests-git.md
Due: semgrep-check, pydoclint-check, pylint-check

refactor: consolidate module-specific constants into their usage locations
  CHANGELOG.md
  src/api/constants.py
  src/api/middleware/error_handler.py
  src/api/middleware/request_context.py
  src/api/middleware/security_headers.py
  src/core/constants.py
  src/core/error_context.py
  src/infrastructure/constants.py
  src/infrastructure/database/base.py
  src/infrastructure/database/repository.py
  src/infrastructure/database/session.py
  tests/integration/api/test_middleware_integration.py
  tests/integration/api/test_request_logging_integration.py
  tests/integration/test_full_stack.py
  tests/unit/api/middleware/test_request_context.py
  tests/unit/api/test_constants.py
  tests/unit/core/test_constants.py
  tests/unit/core/test_error_context.py
  tests/unit/infrastructure/database/test_base.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

feat(observability): enhance logging with context-aware formatting and proxy support
  CHANGELOG.md
  main.py
  src/api/middleware/request_logging.py
  src/core/logging.py
  src/core/observability.py
  tests/unit/test_main.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

test(observability): add comprehensive edge case coverage for logging and middleware
  CHANGELOG.md
  tests/unit/api/middleware/test_request_logging_production.py
  tests/unit/core/test_logging_edge_cases.py
  tests/unit/core/test_observability_edge_cases.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

docs(claude): enhance command documentation with clearer instructions
  .claude/commands/start-with-git.md
  .claude/commands/start.md
Due: semgrep-check, pydoclint-check, pylint-check

ci: streamline workflow and add auto-fix tooling
  .github/workflows/checks.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
Due: semgrep-check, pydoclint-check, pylint-check

docs: improve markdown formatting consistency
  .claude/commands/check-implementation-new.md
  .claude/commands/check-implementation.md
  .claude/commands/create-commit.md
  .claude/commands/create-readme.md
  .claude/commands/create-release.md
  .claude/commands/fix-unittest-mocks.md
  .claude/commands/qa-tests-missing-integration.md
  .claude/commands/start-with-git.md
  .claude/commands/tasks-breakdown.md
  .claude/commands/validate-deps-git.md
  .claude/commands/validate-quality-git.md
  .claude/commands/validate-tests-git.md
  .specs/fastapi_best_practices.md
  .specs/testing-philosophy.md
  README.md
Due: semgrep-check, pydoclint-check, pylint-check

docs(claude): streamline command instructions and expand analysis tasks
  .claude/commands/start-with-git.md
  .claude/commands/start.md
  .claude/commands/tasks-project-analysis.md
Due: semgrep-check, pydoclint-check, pylint-check

docs: restructure README for improved clarity and maintainability
  README.md
Due: semgrep-check, pydoclint-check, pylint-check

docs(analysis): add comprehensive observability system analysis and recommendations
  .specs/analysis/DATABASE_OBSERVABILITY_ANALYSIS.md
  .specs/analysis/ERROR_HANDLING_ANALYSIS.md
  .specs/analysis/OBSERVABILITY_ANALYSIS.md
  .specs/analysis/OBSERVABILITY_CODE_REVIEW.md
Due: semgrep-check, pydoclint-check, pylint-check

docs: enhance module docstrings with architectural context
  CHANGELOG.md
  src/__init__.py
  src/api/__init__.py
  src/api/main.py
  src/api/middleware/__init__.py
  src/api/middleware/error_handler.py
  src/api/middleware/request_context.py
  src/api/middleware/request_logging.py
  src/api/middleware/security_headers.py
  src/api/schemas/__init__.py
  src/api/schemas/errors.py
  src/api/utils/__init__.py
  src/api/utils/responses.py
  src/core/__init__.py
  src/core/config.py
  src/core/context.py
  src/core/error_context.py
  src/core/exceptions.py
  src/core/logging.py
  src/core/observability.py
  src/core/types.py
  src/infrastructure/__init__.py
  src/infrastructure/database/__init__.py
  src/infrastructure/database/base.py
  src/infrastructure/database/dependencies.py
  src/infrastructure/database/repository.py
  src/infrastructure/database/session.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

chore(claude): add command for updating module docstrings
  .claude/commands/update-module-docstrings.md
Due: semgrep-check, pydoclint-check, pylint-check

ci: add comprehensive test workflow with PostgreSQL integration
  .github/workflows/checks.yml
  .pre-commit-config.yaml
  CHANGELOG.md
Due: semgrep-check, pydoclint-check, pylint-check

style: improve markdown formatting consistency
  CHANGELOG.md
  CLAUDE.md
Due: semgrep-check, pydoclint-check, pylint-check

chore: update repository URLs to new organization
  CHANGELOG.md
Due: semgrep-check, pydoclint-check, pylint-check

chore: update repository URLs in project files
  README.md
  pyproject.toml
Due: safety-check, pip-audit, semgrep-check, pydoclint-check, pylint-check

ci: remove PostgreSQL service from GitHub Actions workflow
  .github/workflows/checks.yml
Due: semgrep-check, pydoclint-check, pylint-check

chore(types): update OpenTelemetry type stubs with instrumentation state tracking
  stubs/opentelemetry/instrumentation/fastapi/__init__.pyi
  stubs/opentelemetry/instrumentation/sqlalchemy/__init__.pyi
Due: semgrep-check, pydoclint-check, pylint-check

test: fix test isolation issues and improve observability test coverage
  CHANGELOG.md
  tests/conftest.py
  tests/integration/test_observability_integration.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

docs(claude): improve command documentation consistency
  .claude/commands/check-implementation-new.md
  .claude/commands/check-implementation.md
  .claude/commands/qa-tests-missing-integration.md
  .claude/commands/start-with-git.md
  .claude/commands/start.md
  .claude/commands/tasks-project-analysis.md
Due: semgrep-check, pydoclint-check, pylint-check

test: refactor test suite for improved isolation and coverage
  tests/conftest.py
  tests/fixtures/test_env_fixtures.py
  tests/integration/api/error_handling/conftest.py
  tests/integration/api/error_handling/test_error_handler_type_errors.py
  tests/integration/api/error_handling/test_error_response_format.py
  tests/integration/api/error_handling/test_generic_exceptions.py
  tests/integration/api/error_handling/test_http_exceptions.py
  tests/integration/api/error_handling/test_tributum_errors.py
  tests/integration/api/error_handling/test_validation_errors.py
  tests/integration/api/test_application_lifespan.py
  tests/integration/api/test_lifecycle.py
  tests/integration/api/test_middleware_integration.py
  tests/integration/api/test_orjson_integration.py
  tests/integration/api/test_request_logging_integration.py
  tests/integration/api/test_system_metrics_task.py
  tests/integration/conftest.py
  tests/integration/test_api.py
  tests/integration/test_config_integration.py
  tests/integration/test_database_example.py
  tests/integration/test_docker_compose.py
  tests/integration/test_fixture_isolation.py
  tests/integration/test_full_stack.py
  tests/integration/test_observability_integration.py
  tests/unit/core/test_log_formatters.py
Due: format-check, lint-check, complexity-check, bandit-check

test: add coverage for observability config empty string validation
  tests/conftest.py
  tests/fixtures/test_env_fixtures.py
  tests/unit/core/config/test_settings.py
Due: format-check, lint-check, complexity-check, bandit-check

test(database): add comprehensive integration tests for repository and session management
  tests/integration/database/__init__.py
  tests/integration/database/test_repository_operations.py
  tests/integration/database/test_session_management.py
Due: format-check, lint-check, complexity-check, bandit-check

test: refactor database integration tests for proper isolation
  tests/integration/database/test_models.py
  tests/integration/database/test_repository_operations.py
  tests/integration/database/test_session_management.py
Due: format-check, lint-check, complexity-check, bandit-check

feat(observability): enhance error handling with OpenTelemetry integration and intelligent alerting
  CHANGELOG.md
  src/api/middleware/error_handler.py
  src/core/exceptions.py
  src/core/logging.py
  stubs/opentelemetry/trace/__init__.pyi
  tests/integration/api/error_handling/conftest.py
  tests/integration/api/error_handling/test_error_handling_security.py
  tests/unit/api/middleware/test_error_handler_tracing.py
  tests/unit/core/test_exceptions_properties.py
  tests/unit/core/test_log_formatters.py
  tests/unit/core/test_logging_gcp_formatter.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

refactor(commands): update Claude commands to handle multiple conftest.py files
  .claude/commands/check-implementation-new.md
  .claude/commands/check-implementation.md
  .claude/commands/qa-tests-missing-integration.md
  .claude/commands/start-with-git.md
  .claude/commands/start.md
  .claude/commands/tasks-project-analysis.md
  .claude/commands/validate-deps-git.md
  .claude/commands/validate-quality-git.md
  .claude/commands/validate-tests-git.md
Due: semgrep-check, pydoclint-check, pylint-check

docs(testing): add test anti-pattern documentation and refactor command
  .claude/commands/refactor-tests.md
  .specs/anti_patterns/integration.md
  .specs/anti_patterns/unit.md
Due: semgrep-check, pydoclint-check, pylint-check

docs(claude): rewrite CLAUDE.md with comprehensive developer guidance
  CHANGELOG.md
  CLAUDE.md
Due: semgrep-check, pydoclint-check, pylint-check

docs(readme): enhance documentation with CI/CD pipeline and improved security patterns
  CHANGELOG.md
  README.md
Due: semgrep-check, pydoclint-check, pylint-check

feat(testing): add Claude commands and testing requirements for unit test development
  .claude/commands/t1-fix-implementation.md
  .claude/commands/t1-what-to-test.md
  .specs/testing-reqs/core-config-py-unit-tests.md
  .specs/testing-reqs/core-context-py-unit-tests.md
  .specs/testing-reqs/main-py-unit-tests.md
Due: semgrep-check, pydoclint-check, pylint-check

docs: remove CLAUDE.md developer guidance documentation
  CHANGELOG.md
  CLAUDE.md
Due: semgrep-check, pydoclint-check, pylint-check

test: temporarily disable coverage requirements for test development
  pyproject.toml
Due: safety-check, pip-audit, semgrep-check, pydoclint-check, pylint-check

test: add comprehensive unit test suite for configuration module
  tests/__init__.py
  tests/conftest.py
  tests/unit/__init__.py
  tests/unit/conftest.py
  tests/unit/core/__init__.py
  tests/unit/core/config/__init__.py
  tests/unit/core/config/test_config.py
  tests/unit/test_main.py
Due: format-check, lint-check, complexity-check, bandit-check

refactor(tests): restructure config tests to flatten directory hierarchy
  CHANGELOG.md
  tests/unit/core/config/__init__.py
  tests/unit/core/test_config.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

test: add comprehensive unit tests for request context management
  tests/unit/conftest.py
  tests/unit/core/test_context.py
Due: format-check, lint-check, complexity-check, bandit-check

chore: re-enable test coverage and update test validation command
  .claude/commands/t1-fix-implementation.md
  pyproject.toml
Due: safety-check, pip-audit, semgrep-check, pydoclint-check, pylint-check

test(core): add comprehensive unit tests for error context sanitization
  tests/unit/conftest.py
  tests/unit/core/test_error_context.py
Due: format-check, lint-check, complexity-check, bandit-check

test: add comprehensive unit tests for exceptions module
  CHANGELOG.md
  tests/unit/conftest.py
  tests/unit/core/test_exceptions.py
Due: format-check, lint-check, complexity-check, bandit-check, semgrep-check, pydoclint-check, pylint-check

test: add comprehensive unit tests for logging module
  tests/unit/conftest.py
  tests/unit/core/test_logging.py
Due: format-check, lint-check, complexity-check, bandit-check

Path conditions:
  format-check: any of: \.py$
  lint-check: any of: \.py$
  complexity-check: any of: \.py$
  bandit-check: any of: \.py$
  safety-check: any of: ^(pyproject\.toml|uv\.lock)$
  pip-audit: any of: ^(pyproject\.toml|uv\.lock)$
  semgrep-check: any file but: ^tests/
  pydoclint-check: any file but: ^(tests/|htmlcov/)
  pylint-check: any file but: ^tests/
